<?xml version="1.0"?>
<settings>

    <pluginGroups>
        <pluginGroup>org.mule.tools</pluginGroup>
    </pluginGroups>

    <servers>
        <server>
            <id>Repository</id>
            <username>${CONNECTED_CLIENT_ID}</username>
            <password>${CONNECTED_CLIENT_SECRET}</password>
        </server>
    </servers>

    </settings>
	
	
	
	
	
	
	
	
	
 
	
	
	